.country-switcher img {
  flex: 1;
  width: 30px;
}

.dropdown-menu {
  background-color: $theme-main-color;
  font-family: $font-family-base;
  position: absolute;
  margin-top: 2rem;
  z-index: $zindex-dropdown;
}

.dropdown-menu-footer {
  background-color: $theme-main-color;
  font-family: $font-family-base;
  position: absolute;
  z-index: $zindex-dropdown;
  display: flex;
}

.dropdown-item .btn {
  min-width: 70px;
}

@include media-breakpoint-up(sm) {
  .dropdown-menu {
    margin-top: 5rem;
  }

  .menu-language {
    display: none;
  }
}
