@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

// Bootstrap features
$enable-shadows: true;
$enable-gradients: true;
$enable-responsive-font-sizes: true;

// Fonts
$font-family-base: "Raleway", Helvetica, Arial, sans-serif;
$btn-font-family: "Roboto", Helvetica, Arial, sans-serif;

// Colors
$theme-main-color: #199EB8;
$btn-hover-color: #E04F00;
$body-color: #111;
$footer-background-color: #111;
$contact-background-color: #f7f7f7;

// Variables
$section-max-width: 1000px;

// Links
$link-hover-decoration: none;
$nav-link-color: #FFFFFF;
